<style>




body{
    background-color: rgb(230, 246, 250);
    font-family: 'Times New Roman', Times, serif;
}


header{
    background-color: rgb(76, 123, 134);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 255);
    font-size: 30px;
}


h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 6, 6);
    font-size: 22px;
}


#para{
    color: rgb(54, 54, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 15px;
}


.para1{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                 'Lucida Grande', 'Lucida Sans Unicode', 
                 Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 15px;
}



table{
 
    margin-top: 5px;
    border: 2px solid black;
    background-color: wheat;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
 


footer{
    background-color: rgb(139, 172, 50);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: white;
}

</style>